<div class="container">
  <div [hidden]="submitted">
    <h1 class="login">Login Form</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="form-group">
          <label for="userName">Name</label>
          <input type="text" class="form-control" id="userName" name="userName" formControlName="userName" required>
          <label for="password" class="password-style">Password</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password" required>
        </div>
        <div class="botton-container">
          <button type="submit" class="btn btn-success">Submit</button>
          <a routerLink="/register" class="btn btn-success">Registration</a>

        </div>
        
    </form>

  </div>

</div>
  
  