.no-style {
	.ng-valid {
		border-left: 1px solid #CCC;
	}
}
.body {
	background-image: url("https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg");
}
.login {
	padding-top: 50px;
}
.password-style {
	padding-top: 7px;
}


.botton-container{
	display: flex;
    width: 18%;
    justify-content: space-between;
}

