$color_1: #707070;
$color_2: rgb(243, 255, 72);
$font-family_1: "Roboto";
$font-family_2: "Spartan", sans-serif;

.grafico {
	.content {
		display: flex;
		flex-direction: row;
		width: 50%;
		height: 160px;
		margin-left: 359px;
		span {
			font-family: $font-family_1;
			font-size: 13px;
			color: $color_1;
		}
	}
	.legends {
		display: flex;
		flex-direction: row;
		color: $color_1;
		font-family: $font-family_1;
		font-size: 12px;
		text-align: center;
		margin-left: 357px;
		span {
			width: 60px;
			margin: 0 15px;
		}
	}
	.bars {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
	}
	.bar {
		width: 60px;
		min-height: 2px;
		margin: 0 15px;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		&:hover {
			transform: translateY(-1px);
			box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
		}
	}
}
.container {
	display: flex;
	margin: auto;
	padding-top: 10%;
	flex-direction: column;
}
.title {
	font-family: $font-family_2;
	font-size: 24px;
	color: $color_2;
	text-shadow: 1px 2px black;
	display: flex;
	margin: auto;
}