<div class="container-registration">
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group required">
      <label>Username</label>
      <input class="form-control" formControlName="userName" id="userName" name="userName">
      <label class="text-danger" *ngIf="userName.length === 0  && submitted">This
        field is mandatory.</label>
    </div>
    <div class="form-group">
      <label>Full Name</label>
      <input class="form-control" formControlName="fullName" id="fullName" name="fullName">
      <label class="text-danger" *ngIf="fullName.length === 0 && submitted">This
        field is mandatory.</label>
    </div>
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" name="password">
      <label class="text-danger" *ngIf="password.length === 0 && submitted">This
        field is mandatory.</label>
    </div>
    <div class="form-group required">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword" name="confirmPassword">
      <label class="text-danger" *ngIf="confirmPassword.length === 0 && submitted">This
        field is mandatory.</label>
      <label class="text-danger" *ngIf="confirmPassword === password && submitted">Confirm
        Password does not match.</label>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block registerButton">Sign Up</button>
      </div>
    </div>
  </form>
</div>