.no-style {
	.ng-valid {
		border-left: 1px solid #CCC;
	}
}
.body {
	background-image: url("https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg");
}
.login {
	padding-top: 50px;
}
.password-style {
	padding-top: 7px;
}


.container-registration{
	padding-top: 5%;
	margin-left: auto;
    margin-right: auto;
	width: 50%;
}

.registerButton{
	background-color: lightblue;
}