$color_4: white;
$color_5: #61dafb;
$font-family_4: Roboto, "Helvetica Neue", sans-serif;
$background-color_1: #282c34;

/* You can add global styles to this file, and also import other style files */
@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	font-family: $font-family_4;
}
.App {
	text-align: center;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.mat-typography {
	background-image: url("https://w0.peakpx.com/wallpaper/116/459/HD-wallpaper-microchip-neon-lines-black-background-chips-technology-backgrounds.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.App-header {
	background-color: $background-color_1;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color_4;
}
.App-link {
	color: $color_5;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}