$color_1: black;
$font-family_3: "Spartan", sans-serif;
$background-color_1: #ffc107;

/*general fonts*/
@import "https://fonts.googleapis.com/css2?family=Spartan:wght@100;200&display=swap";
body {
	margin: 0;
	font-family: $font-family_3;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: $font-family_3;
}
#circulo {
	font-family: $font-family_3;
    height: 96px;
    width: 100px;
	background: $background-color_1;
	border-radius: 80px;
	color: $color_1;
	display: block;
	margin: auto;
	margin-bottom: 35px !important;
	padding-top: 46px;
	font-size: 45px;
	margin: auto;
	padding-left: 22px;
}
#button-click {
	background-color: $background-color_1;
	font-size: 22px;
	font-weight: 500;
	height: 45px;
	margin-top: 2%;
	display: flex;
	padding-top: 7px;
	padding-left: 24px;
	margin: auto;
	width: 145px;
}