/*general fonts*/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200&display=swap");

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Spartan", sans-serif;
}

#circulo {
  font-family: "Spartan", sans-serif;
  height: 65px;
  width: 93px;
  background: #ffc107;
  border-radius: 65px;
  color: black;
  display: block;
  margin: auto;
  margin-bottom: 35px !important;
  padding-top: 46px;
  font-size: 45px;
  margin: auto;
  padding-left: 22px;
}

#button-click {
  background-color: #ffc107;
  font-size: 22px;
  font-weight: 500;
  height: 45px;
  margin-top: 2%;
  display: flex;
  padding-top: 7px;
  padding-left: 24px;
  margin: auto;
  width: 145px;
}
